.btn-container {
    margin-top: 20px;
}

.btn {
    background-color: #2e8b57;
    color: white;
    padding: 12px 24px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.btn:hover {
    background-color: #256b44;
    transform: scale(1.05);
}
.topnav {
        overflow: hidden;
        background-color: #04AA6D
      }
      .topnav a {
        float: left;
        color: #111;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px
      }
      .topnav a:hover {
        background-color: #333;
        color: #f2f2f2
      }
      .topnav a.active {
        background-color: #fff;
        color: white
      }
      
.fooditem {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
    text-align: center;
    width: 220px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
